* {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin-top: .5em;
}

ol li {
  list-style: decimal inside;
}

h1, h2, h3, h4, h5, h6 {
  color: #e35252;
}

h2, h3, h4, h5, h6 {
  font-style: italic;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
}

body {
  width: 40%;
  margin: auto;
}

a {
  color: #e35252;
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0 20px 0;
  width: 100%;
}

li {
  border: 0;
  margin: 20px 0 20px 0;
  width: 100%;
}

.light, .bold {
    font-family: 'Montserrat', sans-serif;
    color: #454545;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}
